body
{
    /*background-color: #e9eaed;*/
    /*background-image: url("ogimage-tech.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
}

#loading
{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;

    max-width: 100%;
    height: auto;
    width: auto;
}

.container
{
    margin-top: 40px;
}

.message-wrap
{
    background-image: url("./image/arch_background_metrics_plus_a_lot.png");
    background-repeat: no-repeat;
    background-position: right;
    /*background-size: contain;*/
    background-color: white;
    box-shadow: 0 0 3px #ddd;
    padding:0;
    border: 1px solid;
    border-color: #e9eaed #dfe0e4 #d0d1d5;
}

.msg
{
    padding:5px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    min-height: 350px;
    padding:10px;
    max-height: 350px;
    /*overflow-y: scroll;*/
    overflow: auto;
}

.time
{
    color:#bfbfbf;
}

.send-wrap
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
}

#question
{
    padding-right:  50px;
}

.send-message
{
    resize: none;
}

.highlight
{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-panel .btn
{
    transition: 0.2s all ease-in-out;
    clear: both;
}

.btn-panel .btn:hover
{
    background: #285090;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
    border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
    color: #003bb3;
    font-weight: 700;
}

.media-body
{
  display: block;
}

.speaker
{
    cursor: pointer;
}

.msg-date
{
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}


body::-webkit-scrollbar {
    width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
    border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background:#ddd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd; 
}

  .final {
    color: black;
    /*padding-right: 3px; */
  }

  .interim {
    color: gray;
  }

  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }

  .right {
    position: absolute;
    right: 10px;
  }

  .left {
    padding-left: 13px;
    padding-top: 7px;
    padding-right: 61px;
    position: absolute;
    left: 10px;
  }


  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
  }

  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }